
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col"  style="text-align: right" *ngIf="UserAuthenticated">
          <i class="fa fa-user" aria-hidden="true" style="margin-right: 30px;">{{user}}</i>
          <button type="button" (click)="Logout()" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-log-out"></span> Log out
          </button>
      </div>
     
    </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-12 col-md-6">
      <h1>{{title}}</h1>
    </div>
    <div class="col-12 col-md-4" *ngIf="UserAuthenticated" >
      <table class="table table-bordered">
        <thead style="background-color: #ddd">
          <tr>
            <td style="text-align: center;">
              Job Name
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center;">
              {{CurrentJob.jobId}} : {{CurrentJob.jobDescription}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-menu [UserAuthenticated]="UserAuthenticated" *ngIf="UserAuthenticated">
  
</app-menu>
<router-outlet></router-outlet>
</div>
<div *ngIf="loading" class="loader-wrapper">
    <!-- loading layout replaced by app after startupp -->
    <div class="app-loading">
        <div class="logo"></div>
        <svg class="spinner" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
        </svg>
      </div>
</div>
