/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.modal-opened{
    opacity: 1 !important;
}

.modal-dialog{
    top:190px;
}

.edit-cell{
    width:35px;text-align: center
}

.style-header{
    text-align: center!important;    
}

.style-cell{
    text-align: center!important;
}

.editable-cell{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff0c9; */
    text-align: center!important;
}

.tooltipDiv .tooltiptext {
    visibility: hidden;
    width: 245px;
    background-color: black;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -59px;
    left: -143%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    height: 50px;
    max-height: 100px;
    max-width: 245px;
    white-space: pre-wrap !important

}

.tooltipDiv .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent;
}

.tooltipDiv:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.modal-backdrop.fade{
    opacity: 0.5 !important;
    filter: alpha(opacity=50);   
}
    


.style-button-cell{
    position: relative;
}

.div-header{
    text-align: center;
    background-color: #9e9898;
    border: 1px solid black;
    border-bottom: unset
}

.div-append-input{
    border: 1px solid black !important;
    border-radius: unset !important;
    text-align: center
}

.center-align{
    display: flex;
  align-items: center;
  justify-content: center;

}

.inline-input{
    display: flex;
    align-items: center;
}

.btn{
    box-shadow: 0.2em 0.2em 0.7em black;
}

.column-group{
    border: 1px solid black;
    display: table;
    text-align: center;
    background-color: #808080b0;height: 45px;
    border-bottom: unset;
    border-left: unset
}
.column-group span{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

@media screen {
    .quantityEntry {
        width: 100%;
        max-width: calc(100%);
    }
}

/*DATA TABLE -  COMMON CSS*/

.ngx-datatable.material{
    box-shadow: unset;
    border: 1px solid black;
}

.datatable-body-row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.datatable-body-cell{
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.datatable-header {
    border-bottom: 1px solid rgb(0, 0, 0) !important
}
.datatable-header-cell{
    white-space: pre-wrap !important;
    border-right: 1px solid rgb(0, 0, 0) !important;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.datatable-footer {
    border-top: 1px solid black !important
}

