/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.modal-opened{
    opacity: 1 !important;
}

.modal-Open-Large {
    max-width: 90%;
    opacity: 1 !important;
}

.edit-cell{
    width:35px;text-align: center
}

.style-header{
    text-align: center!important;    
}
.style-cell{
    text-align: center!important;
}

.div-header{
    text-align: center;
    background-color: #9e9898;
    border: 1px solid black;
    border-bottom: unset
}

.div-append-input{
    border: 1px solid black !important;
    border-radius: unset !important;
    text-align: center
}

.datatable-CrewTimeEntry .datatable-body{
    height: 377px !important;
}

.datatable-EmployeeTimeEntry .datatable-body{
    height: 377px !important;
}