<div class="row" style="width:1250px;margin: 5px 5px 0px 5px">
    <div class="col" style="width:500px">      
      <ngx-datatable #NoBudgetCostCode class="material datatable-NoBudgetCostCode" [headerHeight]="38" [footerHeight]="40" [rowHeight]="37"
            [rows]="NoBudgetCostCodes" [scrollbarV]="true">

            <ngx-datatable-column name="Cost Code" prop="CostCode" [width]="125">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Area" prop="Area" [width]="125">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Description" prop="CostCodeDesc" [width]="400">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div class="col" style="margin-top: 35px">
      <span>
          The cost codes in this list do NOT have a production quantity budget.  You can not claim quantities against cost codes that have no quantity budget. 
      </span>
      <br><br>
      <span>
          Please contact the Construction Manger  requesting that the production quantity budget be setup as soon as possible.  
      </span>
      <br><br>
      <span>
          Note: it is recommended that you provide an estimated total quantity in your request.
      </span>
      
    </div>

</div>