<div class="modal-header">
  <h4 class="modal-title">Time Card Entry Note</h4>
 <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" >&times;</button>   
</div>

<div class="modal-body">
    <div class="row">
        <div class="col col-md-4">
            <div style="text-align: center;background-color: #9e9898">
                Employee
            </div>
            <div>
              <input type="text" [(ngModel)]="Employee" disabled="true" class="form-control" style="text-align: center" >
            </div>
        </div>

        <div class="col col-md-2">
            <div style="text-align: center;background-color: #9e9898">
                Job
            </div>
            <div>
              <input type="text" [(ngModel)]="Job" disabled="true" class="form-control" style="text-align: center" >
            </div>
        </div>

        <div class="col col-md-2">
            <div style="text-align: center;background-color: #9e9898">
                Phase/Area
            </div>
            <div>
              <input type="text" [(ngModel)]="Area" disabled="true" class="form-control" style="text-align: center" >
            </div>
        </div>

        <div class="col col-md-2">
            <div style="text-align: center;background-color: #9e9898">
                Cost Code
            </div>
            <div>
              <input type="text" [(ngModel)]="CostCode" disabled="true" class="form-control" style="text-align: center" >
            </div>
        </div>        

    </div>
    <div class="row" style="margin: 2px;border: 1px solid black">
      <textarea rows="5" [(ngModel)]="TimeNote" class="form-control"></textarea>
    </div>
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger">X - Delete Note</button>
  <button type="button" class="btn btn-primary">Save Note</button>
  <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')" >Cancel</button>
</div>