
<div class="row" style="margin: 10px">
  <div class="col" style="border:1px solid black;height: 500px;overflow-y: scroll;min-width: 925px">
    <div style="padding: 15px;">
        <ngx-datatable #dailyEmployeeTime class="material datatable-EmployeeTimeEntry" [headerHeight]="50" 
        [footerHeight]="40" [rowHeight]="37" [rows]="EmployeeTimeEntries" [scrollbarV]="true">

        <ngx-datatable-column name="Crew" headerClass="style-header" cellClass ="style-cell" [width]="103" >
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Employee" headerClass="style-header" cellClass ="style-cell" [width]="150" > 
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column> 

        <ngx-datatable-column name="Area" headerClass="style-header"  cellClass ="style-cell" [width]="73"  >
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span title="Double click to edit" (dblclick)="editing[rowIndex + '-area'] = true"  *ngIf="!editing[rowIndex + '-area']" style="display: inline-block;width:50px;height:100px;">
              {{value}}            
          </span>
          
          <select *ngIf="editing[rowIndex + '-area']" (blur)="editing[rowIndex + '-area'] = false"
              (change)="UpdateEmployeeTime($event, 'area', rowIndex)" [value]="value" style="width:61px">
              <option *ngFor="let a of Areas" value= {{a.Area}}>
                {{a.Area }}
              </option>
            </select> 
          </ng-template>
        </ngx-datatable-column> 
          
        <ngx-datatable-column name="CostCode" headerClass="style-header" cellClass ="style-cell" [width]="75"  >
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-costCode'] = true" *ngIf="!editing[rowIndex + '-costCode']">
              {{value}}
            </span>
            <select *ngIf="editing[rowIndex + '-costCode']" (blur)="editing[rowIndex + '-costCode'] = false"
              (change)="UpdateEmployeeTime($event, 'costCode', rowIndex)" [value]="value" style="width:61px">
              <option *ngFor="let c of CostCodes" value= {{c.CostCode}}>
                {{c.CostCode }}
              </option>
            </select> 
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Category" headerClass="style-header" cellClass ="style-cell"  [width]="62">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Hours" headerClass="style-header" cellClass ="style-cell" [width]="50">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-hours'] = true" *ngIf="!editing[rowIndex + '-hours']">
              {{value}}
            </span>
            <input autofocus (blur)="UpdateEmployeeTime($event, 'hours', rowIndex)" *ngIf="editing[rowIndex+ '-hours']" type="number" [value]="value" style="width:35px;text-align: center"/>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="HRS Type" headerClass="style-header" cellClass ="style-cell" [width]="73"  >
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-hrsType'] = true" *ngIf="!editing[rowIndex + '-hrsType']">
                {{value}}
              </span>
              <select *ngIf="editing[rowIndex + '-hrsType']" (blur)="editing[rowIndex + '-hrsType'] = false"
                (change)="UpdateEmployeeTime($event, 'hrsType', rowIndex)" [value]="value" style="width:61px">
                <option *ngFor="let hr of HRTypes" value= {{hr.HrTypeId}}>
                  {{hr.HrType }}
                </option>
              </select>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Work Date" headerClass="style-header" cellClass ="style-cell" [width]="100">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                {{value}}
              </span>              
            </ng-template>
          </ngx-datatable-column>        
     
        <ngx-datatable-column name="" headerClass="style-header" cellClass ="style-cell" [width]="100">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
              <input type="button"  value="+" style="margin: 1px;height: 27px;" (click)="AddNewTimeEntry($event,rowIndex)" >              
              <input type="button" value="X" style="margin: 1px;height: 27px" (click)="DeleteEmployeeTimeEntry($event, rowIndex)" >
              <input type="button"  value="N" style="margin: 1px;height: 27px" (click)="AddTimeNote($event,rowIndex)">
            </ng-template>
          </ngx-datatable-column> 
      </ngx-datatable>
    </div>
  </div>
  <div class="col">
      <input type="Button" style="margin: 2px" class="btn btn-primary" value="Daily Time Report">
      <input type="Button" style="margin: 2px" class="btn btn-primary" value="Weekly Time Report">
      <input type="Button" style="margin: 2px" class="btn btn-primary" value="Field Time Lookup">
      <input type="Button" style="margin: 2px" class="btn btn-primary" value="Crew Time Review">
      <input type="button"  value="+" style="margin: 4px" (click)="AddNewTimeEntry($event)" > Add New Time Entry              
  </div>
</div>