.datatable-CrewTimeEntry .datatable-body{
    height: 377px !important;
}

.datatable-CrewDailyTotal .datatable-body-cell{
    border: none;
}

.datatable-crewMembers .datatable-body{
    height: 218px !important;
    width:330px !important;
}

.datatable-CrewDailyTotal .datatable-body-row {
    border-bottom: none ;
}


.datatable-body-cell-label{
    position: absolute;
    top:10%
}

.edit-cell-input{
    padding: unset !important;
    text-align: center;
    width: 35px !important;
    height: 28px !important;
    border-radius: unset !important;
}