.datatable-CrewTimeEntry .datatable-body{
    height: 377px !important;
}

.datatable-CrewDailyTotal .datatable-body-cell{
    border: none;
}

.datatable-crewMembers .datatable-body{
    height: 218px !important;
    width:330px !important;
}

.datatable-CrewDailyTotal .datatable-body-row {
    border-bottom: none ;
}


.datatable-body-cell-label{
    position: absolute;
    top:10%
}

.edit-cell-input{
    padding: unset !important;
    text-align: center;
    width: 35px !important;
    height: 28px !important;
    border-radius: unset !important;
}

.tooltip-inner{
    color: red !important;
    max-width: 250px !important;
    font-weight: 600 !important;
}

.tooltipDiv {
    position: relative;
    display: inline-block;
}

.tooltipDiv .tooltiptext {
    visibility: hidden;
    width: 245px;
    background-color: black;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -59px;
    left: -143%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    height: 50px;
    max-height: 100px;
    max-width: 245px;
    white-space: pre-wrap !important

}

.tooltipDiv .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent;
}

.tooltipDiv:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}