<!-- <div class="modal-dialog">
  <div class="modal-content" > -->
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" >&times;</button>
      
    </div>
    
    <div class="modal-body">
     <div class="row">
       <div class="col col-md-4">
         CREW ID:
         <input type="text" class="form-control"  disabled="true" [(ngModel)]="Crew.CrewId">       
       </div>
       <div class="col col-md-8" >
         Crew Description:
         <input type="text" class="form-control" [(ngModel)]="Crew.CrewDescription">
       </div>
     </div>
     <div class="row">
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            Crew HRS / DAY :
            <input type="text" class="form-control" [(ngModel)]="Crew.ShiftLength" >
        </div>
        <div class="col col-md-4 checkbox" *ngIf="IsUpdate" style="margin-top: 27px;text-align: -webkit-center">
          <label><input type="checkbox" [(ngModel)] = "!Crew.IsActive" >Mark this Crew As INACTIVE</label>         
        </div>
     </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" *ngIf="IsUpdate" >Delete This Crew</button>
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')"  >Cancel</button>
    </div>