<div class="row" style="margin-top: 15px">
  <div class="col" style="min-width: 991px">
    <ngx-datatable #EmployeeReimbursable class="material datatable-Reimbursables" [headerHeight]="50" 
        [footerHeight]="40" [rowHeight]="37" [rows]="EmployeeReimbursables" [scrollbarV]="true">
            
            <ngx-datatable-column name="Reimbursement" prop="reimbursementItem" headerClass="style-header" cellClass ="style-cell" [width]="125">
              <ng-template ngx-datatable-cell-template let-value="value">
                 {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Employee" headerClass="style-header" cellClass ="style-cell" [width]="180" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="Area" headerClass="style-header"  cellClass ="style-cell" [width]="75"  >
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span title="Double click to edit" (dblclick)="editing[rowIndex + '-area'] = true"  *ngIf="!editing[rowIndex + '-area']" style="display: inline-block;width:50px;height:100px;">
                  {{value}}            
                </span>                  
                <select *ngIf="editing[rowIndex + '-area']" (blur)="editing[rowIndex + '-area'] = false"
                  (change)="UpdateEmployeeTime($event, 'area', rowIndex)" [value]="value" style="width:61px">
                  <option *ngFor="let a of Areas" value= {{a.Area}}>
                    {{a.Area }}
                  </option>
                </select> 
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Units" headerClass="style-header" cellClass ="style-cell" [width]="70" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="UM" headerClass="style-header" cellClass ="style-cell" [width]="90" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="CostCode" headerClass="style-header" cellClass ="style-cell" [width]="80" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Amount" prop="Amount" headerClass="style-header" cellClass ="style-cell" [width]="75" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                 {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Hours" prop="Hours" headerClass="style-header" cellClass ="style-cell" [width]="65" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Work Date" prop="WorkDate" headerClass="style-header" cellClass ="style-cell" [width]="85" > 
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="" headerClass="style-header" cellClass ="style-cell" [width]="100">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                <input type="button"  value="+" style="margin: 1px;height: 27px;" (click)="AddNewReimbursement($event,rowIndex)" >              
                <input type="button" value="X" style="margin: 1px;height: 27px;" (click)="DeleteReimbursement($event, rowIndex)" >
                <input type="button"  value="N" style="margin: 1px;height: 27px;" (click)="AddReimbNote($event,rowIndex)">
              </ng-template>
            </ngx-datatable-column>
    </ngx-datatable> 
  </div>

  <div class="col">
    <input type="Button" style="margin: 2px" class="btn btn-primary" value="Reimb. Report">
    <input type="button"  value="+" style="margin: 4px" (click)="AddNewReimbursement($event)" > New Reimb. Entry              
  </div>
</div>