<div class="row quantityEntry" style="margin: 5px 5px 0px 5px">
    <div class="col" style="max-width: 1191px">
        <div class="row">
            <div style="width: 396px;;margin-left: 15px;border-left: 1px solid black" class="column-group">
                <span>Planned Work</span>
            </div>
            <div style="width: 170px;" class="column-group">
                <div>
                    <span style="display: inline-block">Job</span>
                </div>
                <div>
                    <span style="display: inline-block">Budget Qty</span>
                </div>
            </div>
            <div style="width: 255px;" class="column-group">
                <div>
                    <span style="display: inline-block">- Last Week -</span>
                </div>
                <div>
                    <span style="display: inline-block">Actual Quantities</span>
                </div>
            </div>
            <div style="width: 340px;background-color: #000099;" class="column-group">
                <div>
                    <span style="display: inline-block">- Current Week -</span>
                </div>
                <div>
                    <span style="display: inline-block">Actual Quantities</span>
                </div>
            </div>
        </div>


        <ngx-datatable #quantityEntry class="material datatable-quantityEntry" [headerHeight]="50" [footerHeight]="40" [rowHeight]="37"
            [rows]="Quantities" [scrollbarV]="true"
            (activate)="onActivateQuantity($event)">

            <ngx-datatable-column name="Cost Code" prop="CostCode" headerClass="style-header" cellClass="style-cell" [width]="100">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Cost Code Description" prop="CostCodeDesc" headerClass="style-header" cellClass="style-cell" [width]="210">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Area" prop="Area" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Quantity" prop="BudgetQuantity" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="UM" prop="UM" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="% Completed" prop="LW_CompletedPerc" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Quantity" [sortable]="false" prop="LW_Quantity" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="JTD Qty" prop="LW_JTDQty" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Target" prop="Target" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="% Completed" prop="CompletedPerc" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Quantity" [sortable]="false" prop="Quantity" headerClass="style-header" cellClass="editable-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="JTD Qty" prop="JTDQty" headerClass="style-header" cellClass="style-cell" [width]="85">
                <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>